<div id="layout" class="pure-g">
    <div class="topbar pure-u-1">
        <div class="header">
            <h1 class="brand-title brand-title-emoji">
                <span class="text-emoji">🇺🇸</span>
                <i class="fa fa-plus"></i>
                <span class="text-emoji">😁</span>
            </h1>
            <h1 class="brand-title" style="font-weight:400;">
                <br>
                Democracy
                <small>Meets</small>
                Emoji
            </h1>
            <h2 class="brand-tagline">
                Tweet an emoji and a candidate at <a href="//twitter.com/emojielection">emojielection</a>
                <br>
                To vote for the next US President
            </h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button js-toggle-voting-instructions" href="#vote">I Want to Vote</a>
                    </li>

                  <!--   <li class="nav-item nav-item-secondary">
                        <a class="pure-button" href="/results">Results</a>
                    </li> -->
                </ul>
            </nav>

            <div class="voting-instructions animated hidden">
                <h2>Good!</h2>
                <div class="pure-g">
                    <div class="pure-u-md-1-2 pure-u-1">
                        <h3>Tweet</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed minima quibusdam ullam sunt perspiciatis.
                        </p>
                    </div>
                    <div class="pure-u-md-1-2 pure-u-1">
                        <h3>Other Stuff</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed minima quibusdam ullam sunt perspiciatis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content pure-u-1">
        <div>
            <div class="votes">
                <h1 class="content-subhead">
                    Hot, Live Democracy
                    <small>(the latest votes)</small>
                </h1>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <!-- <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li> -->
                        <li class="pure-menu-item"><a href="//twitter.com/emojielection" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="//twitter.com/rudeboot" class="pure-menu-link">Who made this?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="vote-template" style="display:none;">
    <section class="vote">
        <header class="vote-header">
            <span class="vote-icon">
                <i class="fa fa-check-square-o fa-3x"></i>
            </span>

            <h2 class="vote-title">
                <span class="text-emoji">
                    {{emoji}}                  
                </span>
                <small>
                    cast for
                </small>
                <a class="{{party_affiliation}}" href="//twitter.com/{{candidate}}"> <!-- TODO: change to results page -->
                    {{candidateName}}                               
                </a>
            </h2>

            <p class="vote-meta">
                by
                <a class="vote-author" href="//twitter.com/{{voter}}">
                    @{{voter}}
                </a> 
                <span class="vote-timestamp" data-updated-at="{{updatedAt}}">
                    {{updatedAtPretty}}
                </span>
            </p>
        </header>
    </section>
</div>