<header>
    <h1>
        Hello, Democracy
        <small>
            Meet Emoji
        </small>
    </h1>
</header>
<div class="pure-g">
    <h2>How To Do</h2>
    <div class="pure-u-md-1-2 pure-u-1">
        <h3>Follow</h3>
    </div>
    <div class="pure-u-md-1-2 pure-u-1">
        <h3>Vote</h3>
    </div>
</div>
