<!DOCTYPE html>
<html>
  <head>
    <title>Emoji Elections</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- force-refresh favicon -->
    <link rel="shortcut icon" href="/favicon.ico?v=2" />

    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/vendor/animate.min.css">
    <link rel="stylesheet" href="/styles/vendor/grids-responsive.min.css">
    <link rel="stylesheet" href="/styles/vendor/pure.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
<!--     <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Emoji Election</a>
            <a href="/">
              <img src="/images/america.png" alt="" class="brand-icon">              
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">
                  <a href="#" class="pure-menu-link">
                    <i class="fa fa-question-circle"></i>
                  </a>
                </li>
            </ul>
        </div>
    </div> -->
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <script src="/browserify/debug.0.0.0.js"></script>
  </body>
</html>
