<header>
    <h1>
        Results
        <small>
            Because Emoji
        </small>
    </h1>
</header>
<div class="pure-g">
    <div class="table-container">
        <table>
            
        </table>
    </div>
</div>

<!-- <script src="/js/results.js"></script> -->