
<span class="voting-wizard-emoji" data-emoji="😁">
      😁
</span>
<span class="voting-wizard-emoji" data-emoji="😐">
      😐
</span>
<span class="voting-wizard-emoji" data-emoji="😞">
      😞
</span>
<span class="voting-wizard-emoji" data-emoji="😱">
      😱
</span>

<span class="voting-wizard-emoji" data-emoji="😻">
      😻
</span>
<span class="voting-wizard-emoji" data-emoji="🙀">
      🙀
</span>
<span class="voting-wizard-emoji" data-emoji="👍">
      👍
</span>
<span class="voting-wizard-emoji" data-emoji="👎">
      👎
</span>

<span class="voting-wizard-emoji" data-emoji="🇺🇸">
      🇺🇸
</span>
<span class="voting-wizard-emoji" data-emoji="🍕">
      🍕
</span>
<span class="voting-wizard-emoji" data-emoji="🚀">
      🚀
</span>
<span class="voting-wizard-emoji" data-emoji="🐛">
      🐛
</span>

<span class="voting-wizard-emoji" data-emoji="💰">
      💰
</span>
<span class="voting-wizard-emoji" data-emoji="💸">
      💸
</span>
<span class="voting-wizard-emoji" data-emoji="🎉">
      🎉
</span>
<span class="voting-wizard-emoji" data-emoji="💩">
      💩
</span>