<div id="voting-instructions" class="voting-instructions-container animated hidden">
    <div class="voting-instructions">
        <div class="pure-g">
            <div class="pure-u-1">
                <h2>
                    <span class="heading-wrap">
                        <span class="text-emoji">
                            ⭐
                        </span>
                        Good! Voting is Good!
                        <span class="text-emoji">
                            ⭐
                        </span>                        
                    </span>
                </h2>
            </div>
            <div class="pure-u-md-1-2 pure-u-1">
                <h3>
                    <span class="heading-wrap">
                        <span class="text-emoji">
                            🐣                            
                        </span>
                        <br>
                        <b>Step One</b>
                        <br>
                        Get A Twitter
                    </span>
                </h3>
                <p>
                    You need a Twitter account to vote, so get you one.
                </p>
            </div>
            <div class="pure-u-md-1-2 pure-u-1">
                <h3>
                    <span class="heading-wrap">
                        <span class="text-emoji">
                            🐥                            
                        </span>
                        <br>
                        <b>Step Two</b>
                        <br>
                        Tweet a Tweet
                    </span>
                </h3>
                <p>
                    Tweet an emoji and the handle of 
                    a presidential candidate at 
                    <a href="//twitter.com/emojielection">emojielection</a>.
                </p>
                <p>
                    <a href="#candidates">
                        See a list of candidates here.                 
                    </a>
                    (Except not really because that link doesn't go anywhere.)
                </p>
            </div>
        </div>
    </div>
</div>