<div id="voting-wizard" class="voting-wizard-container voting-wizard-container-hidden" data-target="voting-wizard">
    <div class="voting-wizard">
        <div class="pure-g">
            <div class="pure-u-1">
                <!-- <h1>YO FOOL THIS IS NOT READY YET. STAHP NYAW.</h1> -->
                <div class="voting-wizard-step js-wizard-step" data-step="1">
                    <h2 class="voting-wizard-heading">
                        Choose your candidate
                        <small class="voting-wizard-heading-sub">
                            I picked one for you, but you can change it
                        </small>
                    </h2>
                    <div class="voting-wizard-form voting-wizard-form-candidate animated jello">
                        <div class="voting-wizard-candidate" 
                            data-candidate-handle>
                            <span data-candidate-name></span>
                            <span class="candidate-affiliation" 
                                data-candidate-affiliation></span>
                        </div>
                    </div>
                    <div class="voting-wizard-form-buttons">
                        <button class="pure-button pure-button-secondary voting-wizard-button voting-wizard-button-prev"
                                data-random-candidate>
                            Uh, I want a new candidate
                        </button>
                        <button class="pure-button pure-button-secondary voting-wizard-button"
                                data-next-step="2">
                            Let's emoji!
                        </button>                        
                    </div>
                </div>
                <div class="voting-wizard-step voting-wizard-step-hidden js-wizard-step" data-step="2">
                    <h2 class="voting-wizard-heading">
                        Woo! What's your emoji for 
                        <span data-candidate-first-name></span>? 
                        <small class="voting-wizard-heading-qualifier">(3 max)</small>
                        <!-- <small></small> -->
                        <small class="voting-wizard-heading-sub">
                            Choose carefully, this is Democracy
                        </small>
                    </h2>
                    <div class="voting-wizard-form voting-wizard-form-emoji">

                        <div class="voting-wizard-form-message hidden" data-emoji-form-error="max">
                            <i class="fa fa-frown-o"></i> 
                            Sorry, friend! You may only pick 3 emoji tops.
                        </div>

                        <span class="voting-wizard-emoji">😁</span>
                        <span class="voting-wizard-emoji">😐</span>
                        <span class="voting-wizard-emoji">😞</span>
                        <span class="voting-wizard-emoji">😱</span>

                        <span class="voting-wizard-emoji">😻</span>
                        <span class="voting-wizard-emoji">🙀</span>
                        <span class="voting-wizard-emoji">👍</span>
                        <span class="voting-wizard-emoji">👎</span>
                        
                        <span class="voting-wizard-emoji">🇺🇸</span>
                        <span class="voting-wizard-emoji">🍕</span>
                        <span class="voting-wizard-emoji">🚀</span>
                        <span class="voting-wizard-emoji">🐛</span>

                        <span class="voting-wizard-emoji">🎉</span>
                        <span class="voting-wizard-emoji">💸</span>
                        <span class="voting-wizard-emoji">💰</span>
                        <span class="voting-wizard-emoji">💩</span>

                        <div class="voting-wizard-form-message hidden" data-emoji-form-error="max">
                            <i class="fa fa-frown-o"></i> 
                            Ruh-roh! You may only pick up to 3 emoji.
                        </div>

                        <div class="voting-wizard-form-buttons">
                            <button class="pure-button pure-button-secondary voting-wizard-button voting-wizard-button-prev"
                                    data-prev-step="1">
                                    Take me back
                            </button>
                            <button id="vote-wizard-link" 
                                class="pure-button pure-button-secondary voting-wizard-button">
                               Vote!
                            </button>

                            <div class="voting-wizard-form-message hidden" data-emoji-form-error="blank">
                                <i class="fa fa-frown-o"></i> 
                                Oops! Select an emoji first
                            </div>

                            <div class="voting-wizard-candidate-message-info">
                                <i>
                                    Clicking &ldquo;Vote&rdquo; will take you to Twitter.
                                </i>
                                <small class="voting-wizard-candidate-message-info-sub">
                                    (Don't worry, you'll be able to preview your vote before tweeting.)                            
                                </small>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>