<div id="voting-wizard" class="voting-wizard-container voting-wizard-container-hidden" data-target="voting-wizard">
    <div class="voting-wizard">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="voting-wizard-step js-wizard-step" data-step="1">
                    <h2 class="voting-wizard-heading">
                        Choose your candidate
                        <small class="voting-wizard-heading-sub">
                            I picked one for you, but you can change it up
                        </small>
                    </h2>
                    <div class="voting-wizard-form voting-wizard-form-candidate animated jello">
                        <div class="voting-wizard-candidate" 
                            data-candidate-handle>
                            <div class="candidate-name" data-candidate-name></div>
                            <div class="candidate-description" data-candidate-description>
                            </div>
                            <div class="candidate-affiliation" 
                                data-candidate-affiliation></div>
                        </div>
                    </div>
                    <div class="voting-wizard-form-buttons">
                        <button class="pure-button pure-button-secondary voting-wizard-button voting-wizard-button-prev"
                                data-random-candidate>
                            Uh, I want a new candidate
                        </button>
                        <button class="pure-button pure-button-secondary voting-wizard-button"
                                data-next-step="2">
                            Let's emoji!
                        </button>                        
                    </div>
                </div>
                <div class="voting-wizard-step voting-wizard-step-hidden js-wizard-step" data-step="2">
                    <h2 class="voting-wizard-heading">
                        Woo! What's your emoji for 
                        <span data-candidate-first-name></span>? 
                        <small class="voting-wizard-heading-qualifier">(3 max)</small>
                        <!-- <small></small> -->
                        <small class="voting-wizard-heading-sub">
                            Choose carefully, this is Democracy
                        </small>
                    </h2>
                    <div class="voting-wizard-form voting-wizard-form-emoji">

                        <div class="voting-wizard-form-message hidden" data-emoji-form-error="max">
                            <i class="fa fa-frown-o"></i> 
                            Sorry, friend! You may only pick 3 emoji tops.
                        </div>

                        <%- partial ('voting-wizard-emoji.ejs') %>

                        <div class="voting-wizard-form-message hidden" data-emoji-form-error="max">
                            <i class="fa fa-frown-o"></i> 
                            Ruh-roh! You may only pick up to 3 emoji.
                        </div>

                        <div class="voting-wizard-form-buttons">
                            <button class="pure-button pure-button-secondary voting-wizard-button voting-wizard-button-prev"
                                    data-prev-step="1">
                                    Take me back
                            </button>
                            <button id="vote-wizard-link" 
                                class="pure-button pure-button-secondary voting-wizard-button">
                               Let's vote!
                            </button>

                            <div class="voting-wizard-form-message hidden" data-emoji-form-error="blank">
                                <i class="fa fa-frown-o"></i> 
                                Oops! Select an emoji first
                            </div>

                            <div class="voting-wizard-candidate-message-info">
                                <i>
                                    Clicking &ldquo;Let's vote&rdquo; will take you to Twitter.
                                </i>
                                <small class="voting-wizard-candidate-message-info-sub">
                                   <b>Don't worry!</b> You'll get to preview your vote before tweeting it.
                                </small>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>