.result {
  padding: .5em 1em .75em 1em;
}

.result-heading {
  font-family: @serif;
  font-weight: @light;
  text-align: left;
}

.result-body {
  padding-top: 3em;
  position: relative;
}

.result-emoji-lg {
  font-size: 3em;
  font-weight: 400;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
}

.result-candidate-lg {
  font-family: @slab;
  font-size: 2.5em;
  position: absolute;
  left: 0;
  top: 0;
}